body{
    background: url(../img/correo.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
}

img{
    position: absolute;
    margin: -70px 0px 0px 70px;
    width: 200px;
}

form{
    text-align: center;
    height: 350px;
    margin: 120px 500px 0px 500px;
    background-color: rgba(0, 0, 0, 0.3); 
    color: rgba(0, 0, 0, 0.3);
    border-radius: 30px;
}

h1{
    color: #fff;
    padding-top: 45px;
}
    
.conjunto{
    display: inline-block;
}

input[type=text]{
    display: flex;
    height: 30px;
    border-radius: 17px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

[type=password]{
    display: flex;
    height: 30px;
    border-radius: 17px;
    border: none;
    margin-bottom: 20px;
    text-align: center;
}

input::placeholder{
    padding: 15px;
}

button{
    height: 30px;
    border-radius: 17px;
    width: 70px;
    border: #fff;
}

button:hover{
    cursor: pointer;
}

p{
    padding: 20px;
    color: #fff;
    font-size: 12px;
}